.fromGroup{
    margin-bottom: 10px;
}

.fromGroup lebel{
    min-width: 90px;
    display: inline-block;
}

form button {
    background-color: green;
    border: 0;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    line-height: 1.2;
    border-radius: 5px;
    transition: .3s;
}
form button:hover{
    background-color: #000;
}


